<header><h1>Active tasks</h1></header>

  <div class="tasklist">
<% @tasks.each do |task| %>
  <%= div_for task do %>
  <%=  task.name %>
  <div class="taskCheckbox"><%= link_to 'complete', complete_task_path(task), method: :put, remote: true %></div>
  <% end %> 
<% end %>
  </div>

<%= link_to 'New Task', new_task_path %>
