// Place all the styles related to the tasks controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

html body {
  background: #dddddd;

}

body {
  margin: 30px auto 0 auto;
  max-width: 800px;
}

.tasklist {
  font-size: 18px;

  background: #ccc;
  padding: 5px 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -border-radius: 5px;

  article {
    border-bottom: 4px;
    border-color: #000;
  }

  article:last {
    border-bottom: 0;
  }

  .taskCheckbox {
    float: right;
  }
}

